mixin product-item(i)
    .col-4.mb-3 
        .product-item 
            .inner-image 
                img(src=i.thumbnail, alt=i.title)
                if(i.featured == "1")
                    .inner-featured Nổi bật
            .inner-content 
                h2.inner-title 
                    a(href=`/products/detail/${i.slug}`) #{i.title}
                .inner-price-new #{i.priceNew}$
                .inner-price-old #{i.price}$
                .inner-discount #{i.discountPercentage}%
